schemas/logger.xsd

﻿<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="logs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="log" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="bookmark" type="xs:string"/>
            <xs:attribute name="message" type="xs:string"/>
            <xs:attribute name="tag" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>